/**
 * Place your custom styles here.
 */

 /* footer */
footer {
  margin-top: 20px;
  padding: 20px 0 0;
  background-color: #222;
  color: #fff;
}

footer a{
  color: #fff;
}

/*navigation-main menu */

.navbar-nav i{
  margin-right: 5px;
}
